

  <!-- // include header.ejs -->

<%- include('partials/header') -%>
  

    <div class="content">
    <h1><%=Home %></h1>
    <!-- <p><%=content %></p> -->

    <p><%= text %></p>

<ul class="posts">

   <!-- <% for (let i =0; i <content.length;  i++ ) { %>
  <li ><%= content[i].posttitle%> </li> 
<% } %> -->

<% content.forEach((element)=>{  %>
    <li> <h2 style="color:black"><%= element.posttitle%> </h2> <p style="margin:20px 0 0 0 ;color:#00000090"><%= element. postbody%></p>  <p class="by">- <%=element.postauthor %></p></li> 
  <% }) %>

</ul>


  

    </div>


    <div class="movetotop">

      <a href="#" style="text-decoration: none; color:white">TOP</a>

    </div>

     <!-- include footer.ejs -->

    <%- include('partials/footer'); -%>

    